<div class="max-w-screen min-h-screen bg-yellow-50 py-10">
  <div class="container mx-auto">
    <div class="grid grid-cols-5 gap-5">
      @for (num of tables; track $index) {
      <app-table [num]="num" />
      }
      <app-table />
    </div>
    <!-- <div class="flex space-x-5">
      <button class="btn btn-neutral">Neutral</button>
      <button class="btn btn-primary">Primary</button>
      <button class="btn btn-secondary">Secondary</button>
      <button class="btn btn-accent">Accent</button>
      <button class="btn btn-info">Info</button>
      <button class="btn btn-success">Success</button>
      <button class="btn btn-warning">Warning</button>
      <button class="btn btn-error">Error</button>
    </div> -->
  </div>
</div>
